html{
  background-image: url('../images/background.jpg');
  background-size: 100%;
  background-position-x: center;
  background-position-y: center;
  background-size:cover;
  background-repeat: no-repeat;
  height: 100%;
}

body {
  background-color: inherit;
  font-family: 'Roboto Condensed', sans-serif;
}

#user-form {
  position: absolute;
  top: 50%;
  width: 45%;
}

#find-doctor{
  color: white;
  font-size: 100px;
  margin-top: 20%;
}

#results {
  top: 15%;
  bottom:0;
  position:fixed;
  overflow-y:scroll;
  width: 55%;
}

.well{
  opacity: 0.9;
  background-color: #343b3b;
  color: white;
}

.row{
  vertical-align: center;
}

.col-center{
  display: inline-block;
}

.col-center button{
  margin-top: 25%;
  margin-left: 15%;
  margin-bottom: 25%;
}

.pdx{
  color:#5bc0de;
}

.navbar{
  background-color: #343b3b;
  color: #5bc0de;
}
